<div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
            <h4>Please confirm to proceed!</h4>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="onYes()"
          class="btn btn-danger btn-sm" data-dismiss="modal">Confirm</button>
          <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Reject</button>
        </div>

      </div>
    </div>
</div>
