<ul class="navbar-nav col remove-pad-marg">
    <li class="nav-item" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="login">
            <span class="set-icon">
                <!-- <i class="fa fa-user-o"
                aria-hidden="true"></i> -->
                <!-- <i class="fa fa-address-card-o" aria-hidden="true"></i> -->
                <i class="fa fa-address-card-o" aria-hidden="true"></i>

            </span><span class="titleName">Login</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="register">
            <span class="set-icon">
                <!-- <i class="fa fa-user-o"
                aria-hidden="true"></i> -->
                <!-- <i class="fa fa-address-card-o" aria-hidden="true"></i> -->
                <i class="fa fa-address-card-o" aria-hidden="true"></i>

            </span><span class="titleName">Register</span></a>
    </li>
</ul>
