<br>
<br>
<br>
<br>
<div class="row mt-5">
    <div class="col-12 text-center">
        <div class="logo">
            <h1><b class="text-primary">Welcome</b>, <i class="text-warning">To Guest Book Application</i></h1>
        </div>
    </div>
    <div class="col-6">
        <a class="nav-link" routerLink="login"><span class="titleName float-right font-weight-bold">Login</span></a>
    </div>
    <div class="col-6">
        <a class="nav-link" routerLink="register"><span class="titleName font-weight-bold">Register</span></a>
    </div>
</div>